@use 'sass:math';

@import "custom/components/animation";

.modal-backdrop {
    opacity: .5;
}

.modal-header,
.alert {
    .close {
        padding: 0.3rem 1.75rem;
        background: transparent;
        border: 0;
        font-size: 25px;
        position: absolute;
        top: 0;
        right: 0;
        opacity: .4;
        width: 1em;
        height: 1em;
        z-index: 2;

        button {
            display: none;
        }
    }
}

.form-row {
    display: flex;
    flex-wrap: wrap;
}

.vhd__datepicker__input {
    height: $input-height !important;
    line-height: $input-height !important;
}

.form-check {
    .custom-control-input {
        border-radius: .25em;
        float: left;
        margin: 3px 3px 3px -19px !important;
    }
}

.check-group {
    input {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none;
    }
}

.vue-simple-drawer {
    background: $gray-100 !important;
    color: $gray-800 !important;

    .close-btn {

        .leftright,
        .rightleft {
            width: 20px !important;
            background-color: $gray-600 !important
        }
    }
}

body {
    * {
        outline: none;
    }
}

.b-form-btn-label-control {
    padding: 0;
    border: none;

    >.btn {
        position: absolute;
        right: 0;
        top: 0;

        &:focus {
            box-shadow: none;
        }
    }
}

.vue-simple-drawer {
    // default style
    padding: 20px;
    color: $--simple-drawer-fg-color;
    background: $--simple-drawer-bg-color;
    // common
    position: fixed;
    overflow: auto;

    &.closeable {
        padding-top: 40px;
    }

    &.left {
        left: 0;
        top: 0;
        bottom: 0;
    }

    &.right {
        right: 0;
        top: 0;
        bottom: 0;
    }

    &.up {
        top: 0;
        left: 0;
        right: 0;
    }

    &.down {
        bottom: 0;
        left: 0;
        right: 0;
    }

    .close-btn {
        width: $--simple-drawer-close-width;
        height: $--simple-drawer-close-width;
        position: absolute;
        right: 0;
        top: 20px;
        transform: translate(-50%, -50%);
        color: currentColor;
        font-size: 20px;
        cursor: pointer;
        user-select: none;

        .leftright {
            height: 4px;
            width: $--simple-drawer-close-width;
            position: absolute;
            margin-top: math.div($--simple-drawer-close-width, 2);
            background-color: $--simple-drawer-softorange;
            border-radius: 2px;
            transform: rotate(45deg);
            transition: all 0.3s ease-in;
        }

        .rightleft {
            height: 4px;
            width: $--simple-drawer-close-width;
            position: absolute;
            margin-top: math.div($--simple-drawer-close-width, 2);
            background-color: $--simple-drawer-softorange;
            border-radius: 2px;
            transform: rotate(-45deg);
            transition: all 0.3s ease-in;
        }

        .close {
            margin: 60px 0 0 5px;
            position: absolute;
        }

        &:hover .leftright {
            transform: rotate(-45deg);
            background-color: $--simple-drawer-tomatored;
        }

        &:hover .rightleft {
            transform: rotate(45deg);
            background-color: $--simple-drawer-tomatored;
        }
    }
}

.mask {
    position: fixed;
    background: grey;
    opacity: 0.5;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
}

.slider-tooltip , .slider-connect{
    background: $primary
}

.page-title-right ol.breadcrumb {
    margin-bottom: 0;
}

.lang-dropdown {
    &:hover {
        cursor: pointer;
    }
}

.form-check-input {
    &:hover {
        cursor: pointer;
    }
}

.form-check-right {
    .form-check {
        padding-left: 0;
    }
}
#page-topbar { 
    .lang-dropdown {
        background-color: $header-bg;
        color: $header-dark-item-color;
    }
}
body[data-layout="horizontal"][data-topbar="colored"] {
    #page-topbar{
        .lang-dropdown {
            background-color: $primary;    
        }
    }

}
body[data-topbar="dark"] {
    #page-topbar { 
        .lang-dropdown {
            background-color: $primary;
            color: $header-dark-item-color;
        }
    }
}
html[dir="rtl"] {
    body[data-topbar="dark"] {
        #page-topbar {
            .lang-dropdown {
                background-color: $header-dark-bg;
                color: $header-dark-item-color;
            }
        }
    }
}
.is-loading {
    position: relative;
  }
  .preloader-component {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $card-bg;
    z-index: 999;
    width: 100%;
  }
  .status {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
  }