/** @format */

@mixin button {
  display: flex;
  align-items: center;
  margin: 0;
}

.vxe-pager--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.custom-button {
  &-primary {
    @include button;
    background-color: #556ee6;
    border: transparent;
    color: #fff !important;

    &:hover {
      background-color: #4457b5 !important;
    }
  }

  &-import {
    @include button;
    background-color: #16a085;
    border: transparent;
    color: #fff !important;

    &:hover {
      background-color: #168771 !important;
    }
  }

  &-gray {
    @include button;
    background-color: #e7e7e7;
    border: transparent;
    color: #000 !important;

    &:hover {
      background-color: #b9b9b9 !important;
    }
  }
}

.ant-picker-dropdown {
  z-index: 1500 !important;
}

.ant-message {
  z-index: 2000 !important;
}

.ant-dropdown-menu-title-content a {
  display: flex;
  align-items: center;
  gap: 6px;
}

.popover-submenu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.popover-submenu__title,
.popover__title {
  list-style-type: none;
  padding: 8px;
  color: #3b3b3b;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.popover-submenu__title.active,
.popover-submenu__title:hover,
.popover__title.active,
.popover__title:hover {
  background-color: #f77b00;
  border-radius: 4px;
  color: #fff;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #f77b00 !important;
  border-color: #f77b00 !important;
}

.ant-checkbox-checked:after {
  border-color: #f77b00 !important;
}

.remember-me:hover .ant-checkbox-inner {
  border-color: #f77b00 !important;
}

.filter-form {
  height: 40px;
}

.main-wrapper {
  padding: 8px 12px;
}
